html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}

body {
  overflow: hidden;
  position: fixed;
}

body.ready {
  overflow-y: auto;
}

.background {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  transform: scale(1.1);
  z-index: -1
}

#openingVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transition: opacity 1.5s ease-out;
}

#openingVideo.fade-out {
  opacity: 0;
}
